.repo-container {
    display: inline-block;
    text-align: center;
    background-color: aqua;
    margin:5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

header ol {
    list-style: none;
}

header ol > li {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
}

footer h4 {
    text-align: center;
}

